#focus-snail_svg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	background: transparent;
	visibility: hidden;
	pointer-events: none;
	-webkit-transform: translateZ(0);
}

#focus-snail_svg.focus-snail_visible {
	visibility: visible;
	z-index: 999;
}

#focus-snail_polygon {
	fill: rgb(91, 157, 217);
}
